[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
seaborn = "*"
plotnine = "*"
apscheduler = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
